# Server Configuration
PORT=4000
NODE_ENV=development

# MongoDB Configuration
MONGODB_URI="mongodb+srv://ishitasofficialmail_db_user:IMan8PdE26hfvirw@cluster0.2mahp0g.mongodb.net/Expense"

# JWT Configuration
JWT_SECRET=FKgdZHXtCfUImXfJRdMUXZFbkLoeFS9Ndv3zvPp9bNP
JWT_EXPIRATION=24h
